<!-- WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>productoServlet</servlet-name>
        <servlet-class>ProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productoServlet</servlet-name>
        <url-pattern>/productoServlet</url-pattern>
    </servlet-mapping>
</web-app>
